<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1> Formulario de Alta de Estudiantes </h1>

    <!-- ¿Como funciona un formulario en HTML? -->
    <!-- <form action="#" method="get">

        <input name="nombre" placeholder="Escriba su nombre, porfa!!" type="text"> 
        <label for="fechaNacimiento"> Fecha de Nacimiento: </label>
        <input name="fechaNacimiento"  type="date" id="fechaNacimiento"> 

        <input type="submit" value="Enviar">

    </form> -->

    <form th:object="${estudiante}">

        <label for="nombre">Nombre: </label>
        <input type="text" name="nombre" id="nombre" th:field="*{nombre}" required> 

           <!-- Los asterisccos en th field hacen referencia a campos del objeto.  -->
        <label for="primerApellido">Primer Apellido: </label>
        <input type="text" name="primerApellido" id="primerApellido" th:field="*{primerApellido}" required> 

        <label for="segundoApellido">Segundo Apellido: </label>
        <input type="text" name="segundoApellido" id="segundoApellido" th:field="*{segundoApellido}" required> 

        <label for="fechaAlta"> Fecha de Alta:</label>
        <input type="date" name="fechaAlta" id="fechaAlta" th:field="*{fechaAlta}" required>

        <label for="fechaNacimiento"> Fecha de Nacimiento</label>
        <input type="date" name="fechaNacimiento" id="fechaNacimiento" th:field="*{fechaNacimiento}" required>



        <fieldset>
            <legend>Genero</legend>

            <label for="hombre">HOMBRE </label>
            <input type="radio" id="hombre" name="genero" value="HOMBRE" th:field="*{genero}" required>

            <label for="mujer">MUJER </label>
            <input type="radio" id="mujer" name="genero" value="MUJER" th:field="*{genero}" required>

            <label for="otro">OTRO </label>
            <input type="radio" id="otro" name="genero" value="OTRO" th:field="*{genero}" required>

            
        </fieldset>

        <label for="beca"> Beca</label>
        <input type="text" name="beca" id="beca" th:field="*{beca}">

        <label for="idFacultad">Facultad: </label>
        <select name="idFacultad" id="idFacultad" required>
            <option></option>
            <option value="1"> Informatica</option>
            <option value="2"> Biologia</option>

        </select>
        
        <input type="submit" value="Alta">


    </form>


</body>
</html>